*{
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
body{
  width: 100%;
  background: black;
}

header{
  width: 100%;
  height: 100vh;
  padding: 10px;

}
.container{
  width: 80%;
  margin: 0 auto;
}
.weather{
  width: 100%;
  height: auto;
  background: linear-gradient( 1deg, rgb(86, 86, 248), skyblue);
  border-radius: 60px;
}
.weather .weather_body .nav2{
width: 100%;
height:auto;
padding: 20px 0px;
display: flex;
justify-content: space-between;

}
.weather .weather_body .nav2 i span{
  color: aliceblue;
}
.weather .weather_body .nav2 i {
  color: rgb(112, 117, 122);
}
.weather .weather_body .update{
  width: 100%;
  height: auto;
  padding: 0px 0;
  display: flex;
  justify-content: center;
}
.weather .weather_body .update .updating{
  width: 80px;
  height: 20px;
  border: 1px solid aliceblue;
  text-align: center;
  border-radius: 15px;
}
.weather .weather_body .update .updating i {
color: yellow;
}
.weather .weather_body .update .updating i span{
  color:aliceblue;
  font-size: 10px;
  }
  .nav3{
    width: 100%;
height:auto;
padding: 20px 0px;
display: flex;
justify-content: center;
flex-wrap: wrap;
  }
.weather .weather_body img{
width: 100%;
height: 20%;
}

header .h1{
  font-size: 100px;
  font-weight: bold;
color: aliceblue;
}
/* .nav3 h4 sup{
  font-size: 10px;
  color: gray;
} */
header h4::after{
  content: "" ;
  width: 10px;
  height: 10px;
 border: 2px solid white;
 border-radius: 50%;
  display: inline-block;
  position: absolute;
}
.nav4{
  width: 100%;
  height: auto;
  padding: 0px 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.nav4 h1{
  font-size: 30px;

  color: aliceblue;
}
.nav4 h2{
font-size: 15px;
color: gray;
}
.divtag{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.divtag .divtag1{
  width: 30%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.divtag .divtag1 h1{
  padding-top: 10px;
  font-size: 15px;
  color: aliceblue;
}
.divtag .divtag1 h2{

  font-size: 10px;
  color: gray;
}
.divtag .divtag2{
  width: 30%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

}
.divtag .divtag2 h1{
  padding-top: 10px;
  font-size: 15px;
  color: aliceblue;
}
.divtag .divtag2 h2{

  font-size: 10px;
  color: gray;
}
.divtag .divtag3{
  width: 30%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.divtag .divtag3 h1{
  padding-top: 10px;
  font-size: 15px;
  color: aliceblue;
}
.divtag .divtag3 h2{

  font-size: 10px;
  color: gray;
}
.header .navdays{
  width: 100%;
  height: auto;

}
.navdays{
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.navdays .cdiv1{
  width: 45%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

header .navdays .cdiv1 ul{
  display: flex;
}
header .navdays .cdiv1 ul li{
  padding: 10px 0px;
}
header .navdays .cdiv1 ul li a{
  font-size: 20px;
  color: aliceblue;
}
.navdays .cdiv2{
  position: absolute;
  top: 0px;
  left: 150px;
  width: 45%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

header .navdays .cdiv2 ul{
  display: flex;
}
header .navdays .cdiv2 ul li{
  padding: 10px 0px;
}
header .navdays .cdiv2 ul li a{
  font-size: 15px;
  color: rgb(144, 146, 148);
}
header .navdays .cdiv2 ul li a::after{
  font-size: 15px;
  content: ">";
  color: rgb(144, 146, 148);
}
footer{
  width: 100%;
  height: auto;
}
footer .kattadiv{
  margin-top: 50px;
  width: 100%;

  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .kattadiv .diva{
  width: 22%;
  height: 100px;
  border: 2px solid aliceblue;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .kattadiv .diva h1{
  font-size: 20px;
  color: aliceblue;
}
footer .kattadiv .diva p{
  font-size: 12px;
  color: gray;
  padding-top: 5px;
}
footer .kattadiv .diva i{
padding-top: 10px;
color: aliceblue;
}
